* {
    box-sizing: border-box;
    padding   : 0;
    margin    : 0;
}

html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
}

body {
    background-color: #d9dcd6;
}

header {
    display         : flex;
    flex-direction  : row;
    flex-wrap       : nowrap;
    padding         : 2vw;
    font-family     : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color           : #ffffff;
    justify-content : space-between;
}

header h1 {
    display  : inline-block;
    font-size: 4.8rem;
}

header h1.page-title {
    font-size: 2vw;
}

header a {
    padding-top: 1vw;
    float      : right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size  : 1vw;
}

header div ul {
    list-style-type: none;
    margin-right   : 0.5vw;
}

header div ul li {
    display    : inline-block;
    margin-left: 2vw;
}

a {
    color          : #ffffff;
    text-decoration: none;

}

a:hover {
    color: black;
}

a:active {
    color: rgba(131, 159, 185, 0.336);
}

.container {
    max-width: 80vw;
}


.profile-pic img {

    width        : 20%;
    top          : 80%;
    right        : 12vh;
    border-radius: 50%;
}

.image-stack {
    display              : grid;
    grid-template-columns: repeat(12, 1fr);
    position             : relative;
}

.image-stack__item--top {
    grid-column: 8 / span 5;
    grid-row   : 1;
    /* must be on the same row as the other image */
    padding-top: 128%;
    /* this pushes the image down, and keeps it proportional as it resizes*/
    z-index    : 1;
    /* make this image render on top of the bottom*/
    padding-left: 52%;
}

.image-stack__item--bottom {
    grid-column: 1 / -1;
    grid-row   : 1; 
}

main {
    width: 90%;

}

.row {
    display       : flex;
    flex-wrap     : wrap;
    flex-direction: row;
    margin-left   : 1.5rem;
    margin-right  : 1.5rem;

}

.justify-center {
    justify-content: center;
}


.left-column {
    flex           : 0 0 15%;
    display        : flex;
    font-size      : 5rem;
    justify-content: flex-end;
    padding-right  : 2rem;
    border-right   : 0.35rem solid #2a607c;
    margin-bottom  : 1vw;

}

.left-column h2 {
    font-weight: bold;
    color      : #2a607c;
    font-size  : 1.5vw;
    text-align : right;
    line-height: 1;
}

.right-column {
    flex           : 0 0 85%;
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;
    flex-wrap      : wrap;
    color          : var(--heliotrope);
    text-align     : justify;
    margin-bottom  : 1vw;
}

.small-square {
    flex          : 0 0 33%;
    font-size     : 2.0rem;
    text-align    : center;
    padding-left  : 1rem;
    padding-top   : 1rem;
    padding-right : 1rem;
    padding-bottom: 1rem;
}

.big-square {
    flex          : 0 0 100%;
    font-size     : 2rem;
    padding-left  : 1rem;
    padding-top   : 1rem;
    padding-right : 1rem;
    padding-bottom: 1rem;
    outline       : 0.25rem solid turquoise;
    outline-offset: -10px;
}

.small-square:hover,
.big-square:hover {
    cursor: pointer;
    filter: contrast(200%);

}

.text-square h2 {
    font-weight : lighter;
    color       : #2a607c;
    font-size   : 1.5vw;
    margin-left : 0.5rem;
    padding-left: 0.5rem;
    line-height : 1.5vw;
}

img {
    display  : block;
    max-width: 100%;
    height   : auto;
    position : relative;
}

.img-wrapper {
    overflow: hidden;
    position: relative;
    outline : 0.1rem solid turquoise;
}

.img-wrapper p {
    position  : absolute;
    background: rgb(120, 226, 216);
    bottom    : 5%;
    left      : 0.5%;
    padding   : 1%;
    font-size : 1vw;
}

.btn-pic {
    padding: 0%;
}

.contact-square a {
    color          : -webkit-link;
    cursor         : pointer;
    text-decoration: underline;
}

.contact-square {
    display        : flex;
    flex           : 0 0 100%;
    font-size      : 1vw;
    justify-content: space-between;
    padding-left   : 1rem;
    padding-right  : 1rem;
    padding-bottom : 1rem;
    align-items    : center;

}

input[type=button] {
    display: none;
}